[Unit]
Description=Cloudflare Daemon for a ZeroTrust Tunnel

[Container]
ContainerName=cloudflared
Image=docker.io/cloudflare/cloudflared:latest
AutoUpdate=registry

Exec=tunnel --no-autoupdate run --token ${CLOUDFLARE_TOKEN} homelab

EnvironmentFile=%h/containers/secrets/%N.env

Network=homelab.network
IP=10.90.0.9

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=300

StartLimitInterval=300
StartLimitBurst=5

[Install]
WantedBy=multi-user.target default.target
