[Unit]
Description=Private docker registry

StartLimitIntervalSec=300
StartLimitBurst=2

[Container]
ContainerName=registry
Image=docker.io/registry:2
AutoUpdate=registry

# HealthCmd=wget --no-verbose --spider --timeout=5 http://127.0.0.1:5000
UserNS=keep-id:uid=65532,gid=65532

Network=homelab.network
IP=10.90.0.6
HostName=registry

PublishPort=5000:5000

Volume=%h/containers/storage/%p:/var/lib/registry:Z

Environment=REGISTRY_STORAGE_DELETE_ENABLED=true

Timezone=local

[Service]
ExecStartPre=mkdir -p %h/containers/storage/%N

Restart=on-failure
TimeoutStartSec=60
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target default.target
