[Unit]
Description=Adguard Home DNS Server

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=adguard
Image=docker.io/adguard/adguardhome:latest
AutoUpdate=registry

# HealthCmd=curl http://127.0.0.1:3001
UserNS=keep-id:uid=65532,gid=65532

Network=homelab.network
IP=10.90.0.2

PublishPort=5553:53/tcp
PublishPort=5553:53/udp

Volume=%h/containers/config/%p:/opt/adguardhome/conf:Z
Volume=%h/containers/storage/%p:/opt/adguardhome/work:Z

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

ExecStartPre=mkdir -p %h/containers/storage/%p

[Install]
WantedBy=multi-user.target default.target
