[Unit]
Description=Cloudflare Daemon for a ZeroTrust Tunnel

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=cloudflared
Image=docker.io/cloudflare/cloudflared:latest
AutoUpdate=registry

Exec=tunnel --no-autoupdate run

EnvironmentFile=%h/containers/secrets/%p.env

Network=homelab.network
IP=10.90.0.9

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target default.target
