[Unit]
Description=Glance

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=glance
Image=docker.io/glanceapp/glance:latest
AutoUpdate=registry

# HealthCmd=wget --no-verbose --spider http://127.0.0.1:5000
UserNS=keep-id:uid=65532,gid=65532

Network=homelab.network
IP=10.90.0.4

Volume=%h/containers/config/%p:/app/config:Z

EnvironmentFile=%h/containers/secrets/adguard.env

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target default.target
