[Unit]
Description=Memos

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=memos
Image=docker.io/neosmemo/memos:stable
AutoUpdate=registry

# HealthCmd=curl http://127.0.0.1:3001
UserNS=keep-id:uid=65532,gid=65532

Network=homelab.network
IP=10.90.0.10

Volume=%h/containers/storage/%p:/var/opt/memos:Z

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

ExecStartPre=mkdir -p %h/containers/storage/%p

[Install]
WantedBy=multi-user.target default.target
