[Unit]
Description=Papra document management

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=papra
Image=ghcr.io/papra-hq/papra:latest-rootless
AutoUpdate=registry

# HealthCmd=curl http://127.0.0.1:3001
UserNS=keep-id:uid=999,gid=999

Network=homelab.network
IP=10.90.0.11

Volume=%h/containers/storage/%p/data:/app/app-data:Z
Volume=%h/containers/storage/%p/ingestion:/app/ingestion:Z

EnvironmentFile=%h/containers/config/%p/papra.env
EnvironmentFile=%h/containers/secrets/%p.env

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=30

ExecStartPre=mkdir -p %h/containers/storage/%p/data
ExecStartPre=mkdir -p %h/containers/storage/%p/ingestion

[Install]
WantedBy=multi-user.target default.target
