[Unit]
Description=Grafana for Energymetering

[Container]
ContainerName=grafana-energymeter
Image=docker.io/grafana/grafana:latest
AutoUpdate=registry
Pod=energymeter.pod

# HealthCmd=curl http://127.0.0.1:3001

# User+Group of the host mapped on the pod
User=1500
Group=1500

Volume=%h/containers/config/energymeter/grafana-datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yml:Z
Volume=%h/containers/storage/energymeter/grafana:/var/lib/grafana:Z

EnvironmentFile=%h/containers/secrets/influxdb.env
Environment=GF_LOG_LEVEL=debug

Timezone=local

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
