[Unit]
Description=InfluxDB Explorer for Energymetering

[Container]
ContainerName=influxdb-explorer-energymeter
Image=docker.io/influxdata/influxdb3-ui:1.0.0
AutoUpdate=registry
Pod=energymeter.pod

Exec=--mode=admin

# HealthCmd=curl http://127.0.0.1:3001

# User+Group of the host mapped on the pod
User=1500
Group=1500

Timezone=local

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
