[Unit]
Description=Rust written MQTT Broker

[Container]
ContainerName=rmqtt-energymeter
Image=docker.io/rmqtt/rmqtt:latest
AutoUpdate=registry
Pod=energymeter.pod

# HealthCmd=curl http://127.0.0.1:3001

# PublishPort=1883:1883
# PublishPort=8883:8883
# PublishPort=11883:11883
# PublishPort=6060:6060

Timezone=local

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
