[Unit]
Description=Telegraf for Energymetering

After=rmqtt.container
Requires=rmqtt.container

After=influxdb.container
Requires=influxdb.container

StartLimitIntervalSec=1200
StartLimitBurst=2

[Container]
ContainerName=telegraf-energymeter
Image=docker.io/telegraf:1.35-alpine
AutoUpdate=registry
Pod=energymeter.pod

# https://williamlieurance.com/telegraf-podman-cap-net-raw/
AddCapability=NET_RAW

# HealthCmd=curl http://127.0.0.1:3001

Volume=%h/containers/config/energymeter/telegraf.conf:/etc/telegraf/telegraf.conf:Z

EnvironmentFile=%h/containers/secrets/influxdb.env

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target default.target
