[Unit]
Description=Home Assistant

[Container]
ContainerName=homeassistant
Image=docker.io/homeassistant/home-assistant:stable
AutoUpdate=registry
Pod=homeassistant.pod

# HealthCmd=curl http://127.0.0.1:3001

User=1500
Group=1500

Volume=%h/containers/config/homeassistant/:/config:Z

Timezone=local

[Service]
Restart=always
TimeoutStartSec=300
