[Unit]
Description=Home Assistant

StartLimitIntervalSec=500
StartLimitBurst=2

[Container]
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry
Pod=homeassistant.pod

User=1500
Group=1500

Volume=%h/containers/config/%p:/config:Z

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=100
TimeoutStopSec=100

ExecStartPre=mkdir -p %h/containers/config/%p

[Install]
WantedBy=multi-user.target default.target
