[Unit]
Description=InfluxDB for Energymetering

StartLimitIntervalSec=300
StartLimitBurst=2

[Container]
ContainerName=influxdb-energymeter
Image=docker.io/influxdb:3-core
AutoUpdate=registry
Pod=energymeter.pod

Exec=--node-id=node-one --object-store=file --data-dir=/var/lib/influxdb

# HealthCmd=curl http://127.0.0.1:3001

# User+Group of the host mapped on the pod
User=1500
Group=1500

Volume=/opt/containers/data/energymeter/influxdb:/var/lib/influxdb:Z,idmap

Environment=INFLUXDB3_QUERY_FILE_LIMIT=1000

EnvironmentFile=/opt/containers/secrets/influxdb.env

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
