[Unit]
Description=Beszel

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=beszel-ui

Image=docker.io/henrygd/beszel:latest
AutoUpdate=registry

Pod=beszel.pod

Volume=/opt/containers/data/beszel/data:/beszel_data:Z,idmap

Timezone=local

Label="traefik.enable=true"
Label="traefik.http.services.%p.loadbalancer.server.port=8090"
Label="subdomain=beszel"

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

ExecStartPre=mkdir -p /opt/containers/data/beszel/data

; [Install]
; WantedBy=multi-user.target default.target
