[Unit]
Description=Beszel Agent
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=beszel-agent
Image=docker.io/henrygd/beszel-agent:latest
AutoUpdate=registry

Pod=beszel.pod

# Podman socket connection with SELinux (https://github.com/containers/podman/discussions/9860#discussioncomment-545142)
SecurityLabelDisable=true

Volume=/opt/containers/data/beszel/agent:/var/lib/beszel-agent:Z,idmap
Volume=%t/podman/podman.sock:/var/run/docker.sock:idmap

Environment=HUB_URL=http://localhost:8090
EnvironmentFile=/opt/containers/secrets/beszel.env

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=60
TimeoutStopSec=60

ExecStartPre=mkdir -p /opt/containers/data/beszel/agent
