[Unit]
Description=Cloudflare Daemon for a ZeroTrust Tunnel
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=cloudflared
Image=docker.io/cloudflare/cloudflared:latest
AutoUpdate=registry
UserNS=auto

Network=homelab.network:ip=10.90.0.9

EnvironmentFile=/opt/containers/secrets/%p.env

Exec=tunnel --no-autoupdate run

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target default.target
