[Unit]
Description=CouchDB (obsidian livesync)
Wants=adguard.container
After=adguard.container
StartLimitIntervalSec=0

[Container]
ContainerName=couchdb
Image=docker.io/library/couchdb:latest
AutoUpdate=registry
UserNS=auto

Network=homelab.network:ip=10.90.0.13

Volume=/var/lib/homelab/environment/%p/10-initalize-secure.ini:/opt/couchdb/etc/local.ini:ro,Z,idmap
Volume=/var/lib/homelab/apps/%p/config:/opt/couchdb/etc/local.d:Z,idmap
Volume=/var/lib/homelab/apps/%p/data:/opt/couchdb/data:Z,idmap

EnvironmentFile=/var/lib/homelab/secrets/couchdb.env

Label="traefik.enable=true"
Label="traefik.http.services.%p.loadbalancer.server.port=5984"

Timezone=local

# The _up endpoint is generally public. We use --fail so curl exits with non-zero on 404/500.
HealthCmd=CMD-SHELL curl --fail -s http://127.0.0.1:5984/_up || exit 1
HealthInterval=30s
HealthOnFailure=kill
HealthRetries=3
HealthTimeout=10s

[Service]
Restart=on-failure
RestartSec=30
TimeoutStartSec=300
TimeoutStopSec=30


[Install]
WantedBy=homelab.target
