[Unit]
Description=CouchDB (obsidian livesync)
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=couchdb
Image=docker.io/library/couchdb:latest
AutoUpdate=registry

UserNS=auto

Network=homelab.network:ip=10.90.0.13

EnvironmentFile=/opt/containers/secrets/couchdb.env

Volume=/opt/containers/config/%p:/opt/couchdb/etc/local.d:Z,idmap
Volume=/opt/containers/data/%p:/opt/couchdb/data:Z,idmap

Label="traefik.enable=true"
Label="traefik.http.services.%p.loadbalancer.server.port=5984"

Timezone=local

# The _up endpoint is generally public. We use --fail so curl exits with non-zero on 404/500.
HealthCmd=CMD-SHELL curl --fail -s http://127.0.0.1:5984/_up || exit 1
HealthInterval=30s
HealthRetries=3
HealthTimeout=10s

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

# Create the specific subdirectories for data and config
ExecStartPre=mkdir -p /opt/containers/data/%p

[Install]
WantedBy=multi-user.target default.target
