[Unit]
Description=Glance
Wants=adguard.container
After=adguard.container
StartLimitIntervalSec=0

[Container]
ContainerName=glance
Image=docker.io/glanceapp/glance:latest
AutoUpdate=registry
UserNS=auto

Network=homelab.network:ip=10.90.0.4

Volume=/opt/containers/config/%p:/app/config:Z,idmap

EnvironmentFile=/opt/containers/secrets/adguard.env

Label="traefik.enable=true"

Timezone=local

[Service]
Restart=on-failure
RestartSec=30
TimeoutStartSec=300
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target default.target
