[Unit]
Description=Glance

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=glance
Image=docker.io/glanceapp/glance:latest
AutoUpdate=registry

# HealthCmd=wget --no-verbose --spider http://127.0.0.1:5000
UserNS=auto

Network=homelab.network
IP=10.90.0.4

Volume=/opt/containers/config/%p:/app/config:Z,idmap

EnvironmentFile=/opt/containers/secrets/adguard.env

Label="traefik.enable=true"

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target default.target
