[Unit]
Description=Grafana Visualization
Wants=adguard.container
After=adguard.container
StartLimitIntervalSec=0

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana:latest
AutoUpdate=registry
UserNS=auto
User=0

Network=homelab.network:ip=10.90.0.21

Volume=/opt/containers/data/%p:/var/lib/grafana:Z,idmap

EnvironmentFile=/opt/containers/secrets/%p.env
EnvironmentFile=/opt/containers/config/%p/%p.env

Label="traefik.enable=true"

Timezone=local

[Service]
Restart=on-failure
RestartSec=30
TimeoutStartSec=300
TimeoutStopSec=30

ExecStartPre=mkdir -p /opt/containers/data/%p

[Install]
WantedBy=multi-user.target default.target
