[Unit]
Description=Grafana Visualization
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana:latest
AutoUpdate=registry

UserNS=auto
User=0

Network=homelab.network:ip=10.90.0.21

EnvironmentFile=/opt/containers/secrets/%p.env
EnvironmentFile=/opt/containers/config/%p/%p.env

Volume=/opt/containers/config/%p/provisioning:/etc/grafana/provisioning:Z,idmap
Volume=/opt/containers/data/%p:/var/lib/grafana:Z,idmap

Label=traefik.enable=true

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

ExecStartPre=mkdir -p /opt/containers/data/%p

[Install]
WantedBy=multi-user.target default.target
