[Unit]
Description=Home Assistant
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry

Network=host

Volume=/opt/containers/data/%p:/config:Z,idmap
Volume=/run/dbus/system_bus_socket:/run/dbus/system_bus_socket

AddCapability=NET_ADMIN
AddCapability=NET_RAW

# Required for SELinux allowing access to certain hardware devices, such as Bluetooth
SecurityLabelType=spc_t

Label="traefik.enable=true"
Label="traefik.http.services.%p.loadbalancer.server.port=8123"
Label="subdomain=ha"

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=100
TimeoutStopSec=100

# Copy configuration to data dir, as Home Assistant throws everything (config and data) into one single directory.
ExecStartPre=mkdir -p /opt/containers/data/%p
ExecStartPre=cp /opt/containers/config/%p/configuration.yaml /opt/containers/data/%p/configuration.yaml

[Install]
WantedBy=multi-user.target default.target
