[Unit]
Description=Home Assistant

StartLimitIntervalSec=500
StartLimitBurst=2

[Container]
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry

UserNS=auto

Network=host

Volume=/opt/containers/config/%p:/config:Z,idmap

Label="traefik.enable=true"
Label="traefik.http.services.%p.loadbalancer.server.port=8123"
Label="subdomain=ha"

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=100
TimeoutStopSec=100

ExecStartPre=mkdir -p /opt/containers/config/%p

[Install]
WantedBy=multi-user.target default.target
