[Unit]
Description=Immobot

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=immobot
Image=localhost:5000/immobot:latest
AutoUpdate=registry

Exec=/app/config.json

# HealthCmd=curl http://127.0.0.1:3001
UserNS=auto

Network=homelab.network
IP=10.90.0.8

Volume=/opt/containers/config/%p/config.json:/app/config.json:Z,idmap

EnvironmentFile=/opt/containers/secrets/%p.env

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target default.target
