[Unit]
Description=Immobot
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=immobot
Image=localhost:5000/immobot:latest
AutoUpdate=registry
UserNS=auto

Network=homelab.network:ip=10.90.0.8

Volume=/opt/containers/config/%p/config.json:/app/config.json:Z,idmap

EnvironmentFile=/opt/containers/secrets/%p.env

Exec=/app/config.json

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target default.target
