[Unit]
Description=Python Matter Server
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=matter
Image=ghcr.io/matter-js/python-matter-server:stable
AutoUpdate=registry
UserNS=auto

Network=host

Volume=/opt/containers/data/%p:/data:Z,idmap

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=100
TimeoutStopSec=100

ExecStartPre=mkdir -p /opt/containers/data/%p
