[Unit]
Description=Open Home Foundation Matter Server
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=matter-py
Image=ghcr.io/matter-js/python-matter-server:stable
AutoUpdate=registry

Network=host

User=root
UserNS=auto

Volume=/opt/containers/data/%p:/data:Z,idmap
Volume=/run/dbus:/run/dbus:ro

# For bluetooth commissioning via HA or the Dashboard
# Required for SELinux allowing access to certain hardware devices, such as Bluetooth
SecurityLabelType=spc_t

Exec=--storage-path /data --paa-root-cert-dir /data/credentials --bluetooth-adapter 0

Label=traefik.enable=true
Label=traefik.http.services.%p.loadbalancer.server.port=5580

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=100
TimeoutStopSec=100

ExecStartPre=mkdir -p /opt/containers/data/%p
