[Unit]
Description=Open Home Foundation Matter(.js) Server
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=matter
Image=ghcr.io/matter-js/matterjs-server:stable
AutoUpdate=registry

Network=host

User=root
UserNS=auto

Volume=/opt/containers/data/%p:/data:Z,idmap

# For bluetooth commissioning via HA or the Dashboard
Environment=BLUETOOTH_ADAPTER=0

Label=traefik.enable=true
Label=traefik.http.services.%p.loadbalancer.server.port=5580

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=100
TimeoutStopSec=100

ExecStartPre=mkdir -p /opt/containers/data/%p
