[Unit]
Description=n8n Secure Workflow Automation

StartLimitIntervalSec=300
StartLimitBurst=2

[Container]
ContainerName=n8n
Image=docker.n8n.io/n8nio/n8n
AutoUpdate=registry

# HealthCmd=curl http://127.0.0.1:3001
UserNS=auto

Network=homelab.network:ip=10.90.0.12

# User inside container is node (uid:gid 1000:1000), so map root to this uid/gid.
# Because of UserNS=auto, the `podman run` process is run with a random uid/gid, which has to be taken into account (@).
Volume=/opt/containers/data/%p:/home/node/.n8n:Z,idmap=uids=@0-1000-1;gids=@0-1000-1

EnvironmentFile=/opt/containers/config/%p/%p.env

Timezone=local

Label="traefik.enable=true"

[Service]
Restart=on-failure
TimeoutStartSec=90
TimeoutStopSec=30

ExecStartPre=mkdir -p /opt/containers/data/%p

[Install]
WantedBy=multi-user.target default.target
