[Unit]
Description=OpenThread Border Router
StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=otbr
Image=docker.io/openthread/border-router:latest
AutoUpdate=registry

# Does not work with /dev/net/tun, even with --privileged
# UserNS=auto

Network=host

AddCapability=NET_ADMIN
AddCapability=NET_RAW

AddDevice=/dev/ttyUSB0
AddDevice=/dev/net/tun

Volume=/opt/containers/data/%p:/data:Z,idmap

EnvironmentFile=/opt/containers/config/%p/config.env

# When network=host, these cannot be set by the quadlet. See setup-host script:
# https://raw.githubusercontent.com/openthread/ot-br-posix/refs/heads/main/etc/docker/border-router/setup-host
# Sysctl=net.ipv6.conf.end0.accept_ra=2
# Sysctl=net.ipv6.conf.end0.accept_ra_rt_info_max_plen=64
# Sysctl=net.ipv6.conf.all.forwarding=1
# Sysctl=net.ipv4.ip_forward=1

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=100
TimeoutStopSec=100

ExecStartPre=mkdir -p /opt/containers/data/%p
