[Unit]
Description=Papra document management

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=papra
Image=ghcr.io/papra-hq/papra:latest-rootless
AutoUpdate=registry

# HealthCmd=curl http://127.0.0.1:3001
UserNS=auto

Network=homelab.network:ip=10.90.0.11

# User inside container is `nonroot` (uid:gid 999:999), so map root to this uid/gid.
# Because of UserNS=auto, the `podman run` process is run with a random uid/gid, which has to be taken into account (@).
Volume=/opt/containers/data/%p/data:/app/app-data:Z,idmap=uids=@0-999-1;gids=@0-999-1
Volume=/opt/containers/data/%p/ingestion:/app/ingestion:Z,idmap=uids=@0-999-1;gids=@0-999-1

EnvironmentFile=/opt/containers/config/%p/papra.env
EnvironmentFile=/opt/containers/secrets/%p.env

Label="traefik.enable=true"

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=30

ExecStartPre=mkdir -p /opt/containers/data/%p/data
ExecStartPre=mkdir -p /opt/containers/data/%p/ingestion

[Install]
WantedBy=multi-user.target default.target
