[Unit]
Description=Homelab Docker Registry
StartLimitIntervalSec=0

[Container]
ContainerName=registry
Image=docker.io/registry:3
AutoUpdate=registry
UserNS=auto

Network=homelab.network:ip=10.90.0.6
HostName=registry

PublishPort=127.0.0.1:5000:5000

Volume=/opt/containers/data/%p:/var/lib/registry:Z,idmap

Environment=REGISTRY_STORAGE_DELETE_ENABLED=true


Timezone=local

[Service]
Restart=on-failure
RestartSec=30
TimeoutStartSec=300
TimeoutStopSec=60

ExecStartPre=mkdir -p /opt/containers/data/%p

[Install]
WantedBy=multi-user.target default.target
