[Unit]
Description=Homelab Docker Registry

StartLimitIntervalSec=300
StartLimitBurst=2

[Container]
ContainerName=registry
Image=docker.io/registry:3
AutoUpdate=registry

# HealthCmd=wget --no-verbose --spider --timeout=5 http://127.0.0.1:5000
UserNS=auto

Network=homelab.network
IP=10.90.0.6
HostName=registry

PublishPort=5000:5000

Volume=/opt/containers/data/%p:/var/lib/registry:Z,idmap

Environment=REGISTRY_STORAGE_DELETE_ENABLED=true

Label="traefik.enable=true"

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=60
TimeoutStopSec=60

ExecStartPre=mkdir -p /opt/containers/data/%p

[Install]
WantedBy=multi-user.target default.target
