[Unit]
Description=Vaultwarden (Bitwarden in Rust)

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:latest-alpine
AutoUpdate=registry

# HealthCmd=wget --no-verbose --spider http://127.0.0.1:5000
UserNS=auto

Network=homelab.network
IP=10.90.0.7
HostName=vaultwarden

Volume=/opt/containers/data/%p:/data:Z,idmap

Environment=DOMAIN=https://vault.hoogstraat.de

EnvironmentFile=/opt/containers/secrets/%p.env

Label="traefik.enable=true"
Label="subdomain=vault"

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=300

ExecStartPre=mkdir -p /opt/containers/data/%p

[Install]
WantedBy=multi-user.target default.target
