[Unit]
Description=OpenThread Border Router

[Container]
ContainerName=openthread-br
Image=docker.io/openthread/otbr:latest
AutoUpdate=registry
# Pod=homeassistant.pod

# HealthCmd=curl http://127.0.0.1:3001

# User+Group of the host mapped on the pod
User=1500
Group=1500

Volume=%h/containers/config/homeassistant/:/config:Z

Timezone=local

[Service]
Restart=always
TimeoutStartSec=300
