[Unit]
Description=tika for paperless-ngx

[Container]
ContainerName=paperless-tika
Image=docker.io/apache/tika:latest
AutoUpdate=registry
Pod=paperless.pod

# User+Group of the host mapped on the pod
User=1500
Group=1500

Timezone=local

[Service]
Restart=always
TimeoutStartSec=500

[Install]
WantedBy=multi-user.target default.target
