- name: configure linux on raspberry pi
  hosts: homelab
  remote_user: "{{ admin_user }}"
  become: true
  tasks:
    - name: Create local insecure registry access
      ansible.builtin.copy:
        dest: "/etc/containers/registries.conf.d/local_registry.conf"
        owner: root
        content: |
          [[registry]]
          location = "localhost:5000"
          insecure = true

    - name: Ensure the systemd-resolved drop-in directory exists
      ansible.builtin.file:
        path: /etc/systemd/resolved.conf.d
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Disable systemd-resolved DNSStubListener and set new nameservers
      ansible.builtin.copy:
        dest: /etc/systemd/resolved.conf.d/custom-dns.conf
        owner: root
        group: root
        mode: '0644'
        content: |
          [Resolve]
          DNS=1.1.1.1 8.8.8.8
          DNSStubListener=no
      notify: Restart systemd-resolved

    - name: Ensure Cockpit socket is started and enabled
      ansible.builtin.systemd:
        name: cockpit.socket
        state: started
        enabled: true

    - name: Open cockpit ports
      ansible.builtin.firewalld:
        service: cockpit
        state: enabled
        permanent: true
        immediate: true

    - name: Open https port
      ansible.builtin.firewalld:
        service: https
        state: enabled
        permanent: true
        immediate: true

    - name: Open dns ports
      ansible.builtin.firewalld:
        service: dns
        state: enabled
        permanent: true
        immediate: true

    # Bluetooth
    - name: Ensure bluetooth service is started and enabled
      ansible.builtin.systemd:
        name: bluetooth.service
        state: started
        enabled: true

  handlers:
    - name: Restart systemd-resolved
      ansible.builtin.service:
        name: systemd-resolved
        state: restarted
