- name: Configure podman containers and configuration data
  hosts: homelab
  become: true
  vars_prompt:
    - name: age_private_key
      prompt: Insert the whole age decryption key
      private: true
  tasks:
    - name: Sync quadlets
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "/etc/containers/systemd/{{ item | basename }}"
        owner: root
        group: root
        mode: '0644'
      with_fileglob:
        - ../quadlets/*
      register: quadlet_copy_result

    - name: Sync configs
      ansible.posix.synchronize:
        src: ../configs/
        dest: /opt/containers/config/

    - name: Sync secrets
      include_role:
        name: sync_secrets

    - name: Reload systemd daemon if any quadlet changed
      ansible.builtin.systemd:
        daemon_reload: true
      when: quadlet_copy_result.changed

    - name: Restart changed containers
      ansible.builtin.systemd:
        name: "{{ item.dest | basename | splitext | first }}"
        state: restarted
        enabled: true
      loop: "{{ quadlet_copy_result.results }}"
      when: item.changed and item.dest | splitext | last == '.container'
