- name: Configure podman containers and configuration data
  hosts: homelab
  become: true
  vars_prompt:
    - name: age_private_key
      prompt: Insert the whole age decryption key
      private: true
  tasks:
    - name: Sync quadlets
      ansible.posix.synchronize:
        src: ../quadlets/
        dest: /etc/containers/systemd/ # https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html#podman-rootful-unit-search-path
        delete: true
        rsync_opts:
          - --out-format=%n
      notify:
        - systemd

    - name: Sync configs
      ansible.posix.synchronize:
        src: ../configs/
        dest: /opt/containers/config/

    - name: Sync secrets
      include_role:
        name: sync_secrets

  handlers:
    - name: Reload systemd units
      listen: systemd
      ansible.builtin.systemd_service:
        daemon_reload: true
        scope: user
