- name: Configure wireguard easy for vpn access
  hosts: homelab
  remote_user: "{{ admin_user }}"
  become: true
  tasks:
    - name: Open port 51820/udp for wg-easy (wan)
      ansible.posix.firewalld:
        port: 51820/udp
        state: enabled
        permanent: true
        immediate: true

    - name: Open port 51821/tcp for wg-easy (wan)
      ansible.posix.firewalld:
        port: 51821/tcp
        state: disabled
        permanent: true
        immediate: true

    - name: Force systemd to reload configs and start wg-easy
      ansible.builtin.systemd_service:
        state: restarted
        daemon_reload: true
        name: wg-easy
