[Unit]
Description=Caddy Reverse Proxy

StartLimitIntervalSec=200
StartLimitBurst=2

[Container]
ContainerName=caddy
Image=localhost:5000/caddy:latest
AutoUpdate=registry

Exec=run --config /opt/caddy/conf/Caddyfile --adapter caddyfile --watch

# HealthCmd=curl http://127.0.0.1:3001
UserNS=auto

Network=homelab.network
IP=10.90.0.3
PublishPort=4443:443

Volume=/opt/containers/config/%p:/opt/caddy/conf:Z,ro,idmap
Volume=/opt/containers/data/%p:/opt/caddy/work/caddy:Z,idmap

EnvironmentFile=/opt/containers/secrets/acmedns.env

Environment=XDG_DATA_HOME=/opt/caddy/work

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=30

ExecStartPre=mkdir -p /opt/containers/data/%p

[Install]
WantedBy=multi-user.target default.target
