[Unit]
Description=n8n Secure Workflow Automation

StartLimitIntervalSec=300
StartLimitBurst=2

[Container]
ContainerName=n8n
Image=docker.n8n.io/n8nio/n8n
AutoUpdate=registry

# HealthCmd=curl http://127.0.0.1:3001
UserNS=auto

Network=homelab.network
IP=10.90.0.12

Volume=/opt/containers/data/%p:/home/node/.n8n:Z,idmap
# Volume=n8n_data:/home/node/.n8n:Z,idmap
EnvironmentFile=/opt/containers/config/%p/%p.env
Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=90
TimeoutStopSec=30

ExecStartPre=mkdir -p /opt/containers/data/%p

[Install]
WantedBy=multi-user.target default.target
