name: Build bootc Image
on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-22.04-arm
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Containerfile
          tags: ghcr.io/${{ github.repository }}:latest
          platforms: linux/arm64
          provenance: false
          push: true
